/* style sheet for index.html */
body{ /*html body*/
    background-image: url("VG-BG-2.jpg");
    /* background-image: url("fantasyparchment2.jpg"); */
    overflow:hidden;
}
h1 { /* title*/
    /* font-family: Verdana, sans-serif; */
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px #000000;
    margin:5px;
    margin-top:20px;
    text-align:center;
}
h2 { /*subtitle*/
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px #000000;
    margin:0;
    text-align:center;
}
h3 { /*credits*/
    font-family: 'Roboto', sans-serif;
    /* font-style: italic; */
    color: white;
    font-size: 12px;
    text-shadow: 2px 2px #000000;
    margin:5px;
    text-align:center;
}
#tooltipTitle { /*tooltip title*/
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin:1px;
    margin-left:5px;
    text-align:center;
}
#tooltipText { /*tooltip text*/
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    /* font-family: 'Press Start 2P', cursive; */
    font-size: 16px;
    margin:0px;
    text-align:center;
}
#tooltip { /*tooltip box properties*/
    width:200px;
    fill-opacity: 0.95;
    border: 1px solid grey;
    background-color: white;
    background-color: rgba(255,255,255,0.90);
    display: none;
    position: absolute;
}
#backButton{
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px #000000;
    top: 0;
    left: 0;
    margin: 5px;
    position: absolute;
}
#themeButton {
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px #000000;
    top: 0;
    right: 0;
    margin: 5px;
    position: absolute;
}
a:link { /* unvisited link */
    color: cornflowerblue;
}
a:visited { /* visited link */
    color: plum;
}
a:hover { /* mouseover link */
    color: red;
}
.sideBar { 
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 16px;
    margin:3px;
    margin-left:3px;
    line-height: 22px;
    top:140px;
    left:40px;
    width: 250px;
}
.dropdown {
    width: 242px;
    margin-bottom:3px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 16px; */
}
svg { /*svg formatting*/
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: -1;
}

/* #framerect{
    x: 20;
    y: 120;
    width: calc(100%-40px);
    height: calc(100%-140px);
}
#sidebarrect {
    x: 40;
    y: 140;
    width: 250px;
    height: calc(100%-280px);
} */