/* style sheet for index.html */
body{ /*html body*/
    overflow:hidden;
}
h1 { /* title*/
    font-family: Verdana, sans-serif;
    font-size: 24px;
    margin:0;
    text-align:center;
}
h2 { /*subtitle*/
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin:0;
    text-align:center;
}
h3 { /*tooltips*/
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin:0;
    text-align:center;
}
#tooltip {
    border: 1px solid black;
    background-color: white;
    display: none;
    position: absolute;
}



/* placeholder text */
.barGraph { /*text for bar graph*/
    font-family: Verdana, sans-serif;
    position: absolute;
    font-size: 10px;
    margin:0;
    top:350px;
    left:50%;
}
.sideBar { /*text for sidebar*/
    font-family: Verdana, sans-serif;
    position: absolute;
    font-size: 10px;
    margin:0;
    top:140px;
    left:40px;
}
.lowerSecDesc{ /*description of lower section*/
    font-family: Verdana, sans-serif;
    position: absolute;
    font-size: 10px;
    margin:0;
    top:630px;
    left:25px;
}
svg { /*svg formatting*/
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: -1;
}